/* &display=swap */
/*&subset=cyrillic-ext - подключаем для гугла, если сайт на киррилице*/
@import url(./null.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap);

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container{
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---HEADER------------------ */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 20;
}
.header__container {

}
.header__info-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 94px;
}
.logo {
}
.logo__link {
}
.logo__image {
}
.header__info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
div[class*="info__"]:not(:last-child){
	margin: 0px 64px 0px 0px;
}
.info__time {
	font-size: 12px;
	line-height: 1.83;
	font-weight: 700;
	position: relative;
}
.info__time::before{
	content: '';
	display: inline-block;
	height: 24px;
	width: 24px;
	background: url('../img/access_time_24px.svg');
	position: absolute;
	top: 0;
	left: -30px;
}
.time {
}
.time__text {
	text-transform: uppercase;
}
.time__schedule {
	
}
.info__number::before{
	content: '';
	display: inline-block;
	height: 24px;
	width: 24px;
	background: url('../img/phone_24px.svg');
	position: absolute;
	top: 0;
	left: -30px;
}
.info__number {
	font-size: 12px;
	line-height: 1.83;
	font-weight: 500;
	position: relative;
}
.number {
}
.number__text {
	text-transform: uppercase;
}
.call {
}
.info__button{

}
.button {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	padding: 0px 34px;
	border-radius: 5px;
	background: #F2726F;
}
.header__menu-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	background: #FFFFFF;
border-radius: 10px;
}
.menu {
}
.menu__list {
	display: flex;
	padding: 0 0 0 40px;
	flex-wrap: wrap;
}
.menu__item {
	color: #000000;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 700;
}
.menu__item:not(:last-child){
	margin: 0 37px 0 0;
}
.menu__item:first-child::after, .menu__item:nth-child(5)::after {
	content: '';
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url('../img/expand_more_24px.svg') 0 3px no-repeat;
	cursor: pointer;
}

.menu__link {
}
.menu__feauters {
	display: flex;
	padding: 0 48px 0 0;
}
.menu__search {
	margin: 0 22px 0 0;
}
.menu__shopping-block{
	position: relative;
}
.menu__cart {
	
}
.shopping__number{	
	position: absolute;
	background: #F2726F;
	padding: 3px 4px;
	border-radius: 50%;
	font-size: 10px;
	z-index: 20;
	font-weight: 500;
	top: -25%;
	left: 75%;
}
/* ---Page------------------ */
.page{
	flex: 1 1 auto;
}
/* ---MAIN-BLOCK------------------ */
.page__main-block {
}
.main-block {
	position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
	padding: 280px 0 312px 0;
	position: relative;
	z-index: 2;
	max-width: 583px;
}
.main-block__title {
	font-weight: 900;
	font-size: 56px;
	font-weight: 900;
	margin: 0 0 48px 0;
}
.main-block__button {
}
.button {
}
.main-block__image-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* ---HO-WE-ARE------------------ */
.main__who-we-are {
}
.who-we-are__container {
	position: relative;
}
.who-we-are__body {
	background: #5D62B5;
	border-radius: 40px;
	position: relative;
	bottom: 75px;
	/* max-height: 700px;
	overflow: hidden; */
}
.who-we-are__content{
	max-width: 846px;
	margin: 0 auto;
}
.who-we-are__block-name::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/overline_mark.svg') -5px -3px no-repeat;
	margin: 0 11px 0 0;
}
.who-we-are__block-name {
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
	color: #F5F5F5;
	padding: 95px 0 0 0;
	margin: 0 0 33px 0;
}
.who-we-are__subtitle {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.17;
	margin: 0 0 36px 0;
}
.who-we-are__text {
	line-height: 1.5;
	margin: 0 0 9px 0;
}
.who-we-are__images {
}
.image-who-we-are {
	position: relative;
	right: 37px;
}
.image-who-we-are__blob {
}
.image-who-we-are__nose {
	position: absolute;
	top: 45px;
	left: 37px;
	border-radius: 40px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.who-we-are__circles{
	position: absolute;
	top: -191px;
	right: -76px;
}

/* ---FOOTER------------------ */
.footer{

}