/* &display=swap */
/*&subset=cyrillic-ext - подключаем для гугла, если сайт на киррилице*/
@import url(./null.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap);

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container{
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---HEADER------------------ */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 20;
}
.header__container {

}
.header__info-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 94px;
}
.logo {
}
.logo__link {
}
.logo__image {
}
.header__info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
div[class*="info__"]:not(:last-child){
	margin: 0px 64px 0px 0px;
}
.info__time {
	font-size: 12px;
	line-height: 1.83;
	font-weight: 700;
	position: relative;
}
.info__time::before{
	content: '';
	display: inline-block;
	height: 24px;
	width: 24px;
	background: url('../img/access_time_24px.svg');
	position: absolute;
	top: 0;
	left: -30px;
}
.time {
}
.time__text {
	text-transform: uppercase;
}
.time__schedule {
	
}
.info__number::before{
	content: '';
	display: inline-block;
	height: 24px;
	width: 24px;
	background: url('../img/phone_24px.svg');
	position: absolute;
	top: 0;
	left: -30px;
}
.info__number {
	font-size: 12px;
	line-height: 1.83;
	font-weight: 500;
	position: relative;
}
.number {
}
.number__text {
	text-transform: uppercase;
}
.call {
}
.info__button{

}
.button {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	padding: 0px 34px;
	border-radius: 5px;
	background: #F2726F;
	color: #FFFFFF;
}
.button:hover{
	transform: translate(1px, 1px);
	transition: all 0.5s;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.header__menu-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	background: #FFFFFF;
border-radius: 10px;
}
.menu {
}
.menu__list {
	display: flex;
	padding: 0 0 0 40px;
	flex-wrap: wrap;
}
.menu__item {
	color: #000000;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 700;
}
.menu__item:not(:last-child){
	margin: 0 37px 0 0;
}
.menu__item:first-child::after, .menu__item:nth-child(5)::after {
	content: '';
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url('../img/expand_more_24px.svg') 0 3px no-repeat;
	cursor: pointer;
}

.menu__link {
}
.menu__feauters {
	display: flex;
	padding: 0 48px 0 0;
}
.menu__search {
	margin: 0 22px 0 0;
}
.menu__shopping-block{
	position: relative;
}
.menu__cart {
	
}
.shopping__number{	
	position: absolute;
	background: #F2726F;
	padding: 3px 4px;
	border-radius: 50%;
	font-size: 10px;
	z-index: 20;
	font-weight: 500;
	top: -25%;
	left: 75%;
}
/* ---Page------------------ */
.page{
	flex: 1 1 auto;
}
/* ---MAIN-BLOCK------------------ */
.page__main-block {
}
.main-block {
	position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
	padding: 280px 0 312px 0;
	position: relative;
	z-index: 2;
	max-width: 583px;
}
.main-block__title {
	font-weight: 900;
	font-size: 56px;
	font-weight: 900;
	margin: 0 0 48px 0;
}
.main-block__button {
}
.button {
}
.main-block__image-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* ---HO-WE-ARE------------------ */
.main__who-we-are {
}
.who-we-are__container {
	position: relative;
}
.who-we-are__body {
	background: #5D62B5;
	border-radius: 40px;
	position: relative;
	bottom: 75px;
	margin: 0 0 137px 0;
}
.who-we-are__content{
	max-width: 846px;
	margin: 0 auto;
}
.who-we-are__block-name::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/overline_mark.svg') -5px -3px no-repeat;
	margin: 0 11px 0 0;
}
.who-we-are__block-name {
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
	color: #F5F5F5;
	padding: 95px 0 0 0;
	margin: 0 0 33px 0;
}
.who-we-are__subtitle {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.17;
	margin: 0 0 36px 0;
}
.who-we-are__text {
	line-height: 1.5;
	margin: 0 0 9px 0;
}
.who-we-are__images {
}
.image-who-we-are {
	position: relative;
	right: 25px;
}
.image-who-we-are__blob {
}
.image-who-we-are__nose {
	position: absolute;
	top: 45px;
	left: 37px;
	border-radius: 40px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.who-we-are__circles{
	position: absolute;
	top: -191px;
	right: -76px;
}
/* ---OUR-PROMISES------------------ */
.page__promise-block {
}
.promise-block {
}
.promise-block__container {
}
.promise-block__body {
}
.promise-block__name::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/overline-mark-purple.svg') -5px -3px no-repeat;
	margin: 0 11px 0 0;
}
.promise-block__name {
	font-size: 12px;
	font-weight: 700;
	color: #5D62B5;
	line-height: 2;
	text-transform: uppercase;
	padding: 53px 0 0 0;
	margin: 0 0 33px 0;
}
.promise-block__title {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.67;
	color: #000000;
	margin: 0 0 68px 0;
}
.promise-block__list-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 0 122px 0;
}
.promise-block__item {
	display: flex;
	max-width: 324px;
}
.item-block__image {
	align-self: flex-start;
	margin: 0 23px 0 0;
}
.item-block__information {
}
.item-block__subtitle {
	font-size: 19px;
	font-weight: 900;
	color: #F2726F;
	line-height: 1.37;
	margin: 0 0 20px 0;
}

.item-block__text {
	color: #4B4B4B;
	line-height: 1.5;
}
/* ---DOG-WITH-BALL------------------ */
.page__dog-ball {
	background: #29C3BE;
	position: relative;
	z-index: 20;
}
.dog-ball__cover {
	position: relative;
	z-index: 20;
}
.dog-ball__cover > img {
	position: absolute;
}
.dog-ball__container {
}
.dog-ball__body {
	display: flex;
}
.dog-ball__puppy {
	position: relative;
	z-index: 20;
	right: 188px;
	padding: 58px 0 0 0;
}
.dog-ball__info {
	padding: 112px 0 0 0;
	min-width: 411px;
	margin: 0 0 0 -165px;
	position: relative;
	z-index: 20;
}
.dog-ball__title {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.17;
	margin: 0 0 42px 0;
}
.dog-ball__button {
}
.dog-ball__blob {
	top: 0;
	left: 0;
	z-index: 2;
}
.dog-ball__circles {
	top: 84px;
	left: 0;
}
.dog-ball__line {
	top: 0;
	right: 52px;
	z-index: 0;
}
.dog-ball__ball {
	top: 114px;
	right: 0;
}
/* ---SERVICES------------------ */
/*Нужно добавить вертикальные отступы для карточек
Не понял пока как добавитьтень блоку. Сейчас добавляется картинке*/
.page__services-block {
	position: relative;
}
.services-block {
}
.services-block__container {
}
.services-block__body {
	padding: 110px 0 0 0;
}
.services-block__name::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/overline-mark-purple.svg') -5px -3px no-repeat;
	margin: 0 11px 0 0;
}
.services-block__name {
	font-size: 12px;
	font-weight: 700;
	color: #5D62B5;
	line-height: 2;
	text-transform: uppercase;
	margin: 0 0 33px 0;
}
.services-block__title {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.67;
	color: #000000;
	margin: 0 0 78px 0;
}
.services-block__items {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	margin: 0 0 66px 0;
	gap: 24px;
}
.list-service__item {
	/* max-width: 324px; */
	flex: 1 1 calc((100% / 3) - 48px);
	padding: 0 46px 0 43px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
}
.list-service__item:hover{
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	transition: all 800ms;
	cursor: pointer;
}
.list-service__image {
	max-width: 63px;
	padding: 50px 0 0 0;
	margin: 0 0 33px 0;
}
.list-service__title {
	font-size: 19px;
	font-weight: 900;
	line-height: 1.37;
	color: #F2726F;
	margin: 0 0 20px 0;
}
.list-service__test {
	text-align: center;
	line-height: 1.5;
	color: #4B4B4B;
	margin: 0 0 49px 0;
}
.services-block__button-block{
	text-align: center;
	margin: 0 0 122px 0;
}
.services-block__button {
}
.services-block__image{
	position: absolute;
	top: -581px;
	right: 0;
}
/* ---FORM------------------ */
.page__form-block {
	background: url('../img/duotone.jpg') 50%/ cover no-repeat;
}
.block-form {
}
.block-form__container {
}
.block-form__body {
	display: flex;
	padding: 130px 0 210px 0;
	position: relative;
}
.block-form__element {
	max-width: 585px;
	background: #5D62B5;
	border-radius: 40px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	position: relative;
	z-index: 20;
}
.block-form__content {
	padding: 76px 57px;
}
.block-form__form-name {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.17;
	text-align: center;
	margin: 0 0 48px 0;
}
.block-form__frame {
	display: flex;
	flex-wrap: wrap;
	gap: 22px;
	margin: 0 0 30px 0;
}
form > *{
	flex: 1 1 calc((100% / 2) - 44px);
	background: transparent;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}
form > *::placeholder{
	color: #FFFFFF;
	font-size: 16px;
}
form > *{
	padding: 17px 0 15px 23px;
}
form > *:focus{
	outline: none;
}
.block-form__select{
	background: #5D62B5;
	font-size: 16px;
}
.block-form__field-textarea {
	font-family: Roboto;
	font-size: 16px;
}
.block-form__button-block{
	display: flex;
	justify-content: flex-end;
}
.block-form__info {
	padding: 0 0 0 80px;
}
.block-form__info > p:not(:last-child){
	margin: 0 0 46px 0;
}
.block-form__title {
	font-size: 30px;
	font-weight: 900;
	line-height: 1.2;
	text-align: center;
	padding: 165px 0 0 0;
}
.block-form__numbers {
	font-size: 96px;
	font-weight: 900;
	line-height: 0.58;
	text-align: center;
}
.block-form__text {
	font-size: 26px;
	font-weight: 900;
	line-height: 1.37;
	text-align: center;
}
.block-form__image-blob {
	position: absolute;
	top: 130px;
	left: -94px;
}
.block-form__circles {
	position: absolute;
	top: 239px;
	left: -110px;
}
/* ---GALLERY------------------ */
.page__gallery-block {
}
.block-gallery {
}
.block-gallery__container {
	position: relative;
}
.block-gallery__body {
	padding: 0 87px;
}
.block-gallery__info {
}
.block-gallery__name-block::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/overline_mark.svg') -5px -3px no-repeat;
	margin: 0 11px 0 0;
}
.block-gallery__name-block {
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 2;
	text-transform: uppercase;
	margin: 0 0 33px 0;
}
.block-gallery__title {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.17;
	margin: 0 0 55px 0;
}
.block-gallery__links-block {
}
.block-gallery__link-item {
}
.block-gallery__stream {
}
.block-gallery__image {
}
.block-gallery__indicate {
}
.block-gallery__background{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
/* ---FOOTER------------------ */
.footer{

}